.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    /* position: sticky; */
}

/* .img-blk {
    max-width: 70%;
} */
img{
    max-width: 70%;
}

.date-display {
    display: flex;
}

.date {
    width: 200px;
}